<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "docbook.xsl.mobile"
	version 	= "1.0.0">

	<name>DocBook:Getting Started PhoneGap</name>

	<description>
		A template for getting started with DocBook documentaion for different mobile platforms with using PhoneGap.
	</description>

	<author href="http://gihankarunarathne.github.com"
		email="gckarunarathne@gmail.com">
		Gihan Chanuka Karunarathne
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
  <preference name="phonegap-version" value="2.0.0"/>
   <preference name="exit-on-suspend" value="true"/>
</widget>
